<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>stepstepjump</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="ssstyles/main.css">
  <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->


<div class="site-wrapper">
  <div class="wrapper-inner">
    <div class="cover-container">

      <% include layout/header.ejs %>

      <div class="inner cover">
        <h1>Help</h1>

        <p class="lead">Game Play</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut, consequuntur culpa dignissimos earum
          esse est eveniet fuga harum incidunt magni nam numquam quos sed tempore voluptatibus voluptatum. Consectetur,
          explicabo.</p>


        <p class="lead">Score</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut, consequuntur culpa dignissimos earum
          esse est eveniet fuga harum incidunt magni nam numquam quos sed tempore voluptatibus voluptatum. Consectetur,
          explicabo.</p>


        <p class="lead">How to Win</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut, consequuntur culpa dignissimos earum
          esse est eveniet fuga harum incidunt magni nam numquam quos sed tempore voluptatibus voluptatum. Consectetur,
          explicabo.</p>
      </div>

      <% include layout/footer.ejs %>
    </div>
  </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
             function () {(b[l].q = b[l].q || []).push(arguments)});
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="../app/scripts/app.src.js"></script>
<!-- endbuild -->
</body>
</html>
