<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>stepstepjump</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
<<<<<<< HEAD
  <script src="//www.parsecdn.com/js/parse-1.3.2.min.js"></script>
=======
>>>>>>> 711ee53f935e1deaeff418ba65b6fc2e9d018c73
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <% include layout/header.ejs %>

      <div class="inner cover">
        <h1 class="cover-heading">Step Step Jump!</h1>

        <p class="lead">A fun intro to programming.</p>

        <p class="lead">
          <a href="#" class="btn btn-lg btn-primary">Play</a>
          <a href="help.html" class="btn btn-lg btn-default">Learn more</a>
        </p>
      </div>

      <% include layout/footer.ejs %>

    </div>
  </div>
</div>

<% include layout/scripts.ejs %>
</body>
</html>
