<div class="mastfoot">
  <div class="inner">
    <p>A <a href="http://koding.com/Hackathon">Koding.com Hackathon Project</a> by <a
        href="https://github.com/skgtech/global.hackathon/blob/master/Teams/SKGers/ABOUT.md">SKGers</a>, <a href="http://github.com/skgtech/stepstepjump" title="Step Step Jump!">Source</a></p>
  </div>
</div>
